@*@using CodingEvents.ViewModels;

@model AddEventViewModel*@
    
<h1>Edit Event</h1>

<form method="post" action="/events/edit">
    <label>
        Name of Event:
        <input type="text" name="name" value="@ViewBag.editEvent.Name" />
    </label>
    <br />

    <label>
        Event location:
        <input type="text" name="location" value="@ViewBag.editEvent.Location" />
    </label>
    <br />

    <label>
        Description:
        <input type="text" name="description" value="@ViewBag.editEvent.Description" />
    </label>
    <br />

    <label>
        No. of Attendees:
        <input type="text" name="noOfAttendees" value="@ViewBag.editEvent.NoOfAttendees" />
    </label>
    <br />

    <label>
        Contact Email:
        <input type="email" name="contactEmail" value="@ViewBag.editEvent.ContactEmail" />
    </label>
    <br />

    <input type="hidden" value="@ViewBag.editEvent.Id" name="eventId" />
    <input type="submit" value="Edit Event" class="btn btn-secondary" />
</form>


